<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="styles.css">
    <title>Ankieta</title>
</head>
<body>
    <form id="regForm" action="">
        <div class="tab"> Identyfikacja:
              <ul style="list-style-type:none;">
              <li class="form-line" data-type="control" id="id_1">
                <label class="form-line-label" id="label_1" for="input_1"><strong> Wiek</strong> </label>
                <div id="cid_1" class="form-input" data-layout="full">
                  <div class="form-single-column" role="group" aria-labelledby="label_1" data-component="radio">                    
                      <input type="radio" aria-describedby="label_1" class="form-radio" id="input_1_0" name="age" value="Ponizej 18" />
                      <label id="label_input_1_0" for="input_1_0"> Ponizej 18 </label><br>
                      <input type="radio" aria-describedby="label_1" class="form-radio" id="input_1_1" name="age" value="18-25" />
                      <label id="label_input_1_1" for="input_1_1"> 18 - 25 </label><br>
                      <input type="radio" aria-describedby="label_1" class="form-radio" id="input_1_1" name="age" value="26-45" />
                      <label id="label_input_1_2" for="input_1_2"> 26 - 45 </label><br>
                      <input type="radio" aria-describedby="label_1" class="form-radio" id="input_1_1" name="age" value="Powyzej 45" />
                      <label id="label_input_1_3" for="input_1_3"> Powyzej 45 </label><br>
                  </div>
                </div>
              </li>
              <li class="form-line" data-type="control" id="id_2">
                <label class="form-line-label" id="label_2" for="input_2"><strong>Plec</strong>  </label>
                <div id="cid_2" class="form-input" data-layout="full">
                  <div class="form-single-column" role="group" aria-labelledby="label_2" data-component="radio">                    
                      <input type="radio" aria-describedby="label_2" class="form-radio" id="input_2_0" name="pleć" value="Kobieta" />
                      <label id="label_input_2_0" for="input_2_0"> Kobieta </label><br>
                      <input type="radio" aria-describedby="label_2" class="form-radio" id="input_2_1" name="pleć" value="Mężczyzna" />
                      <label id="label_input_2_1" for="input_2_1"> Mężczyzna </label><br>
                      <input type="radio" aria-describedby="label_2" class="form-radio" id="input_2_2" name="pleć" value="Inna" />
                      <label id="label_input_2_2" for="input_2_3"> Inna </label><br>
                      <input type="radio" aria-describedby="label_2" class="form-radio" id="input_2_3" name="pleć" value="Wole nie odpowiadać" />
                      <label id="label_input_2_3" for="input_2_3"> Wole nie odpowiadać </label><br>
                  </div>
                </div>
              </li>
              <li class="form-line" data-type="control" id="id_3">
                <label class="form-line-label" id="label_3" for="input_3"><strong> Jaki jest twój status zawodowy?</strong> </label>
                <div id="cid_3" class="form-input" data-layout="full">
                  <div class="form-single-column" role="group" aria-labelledby="label_3" data-component="radio">                    
                      <input type="radio" aria-describedby="label_3" class="form-radio" id="input_3_0" name="zawod" value="Pracujący" />
                      <label id="label_input_3_0" for="input_3_0"> Pracujący </label><br>
                      <input type="radio" aria-describedby="label_3" class="form-radio" id="input_3_1" name="zawod" value="Przedsiębiorca" />
                      <label id="label_input_3_1" for="input_3_1"> Przedsiębiorca </label><br>
                      <input type="radio" aria-describedby="label_3" class="form-radio" id="input_3_2" name="zawod" value="Bezrobotny" />
                      <label id="label_input_3_2" for="input_3_3"> Bezrobotny </label><br>
                      <input type="radio" aria-describedby="label_3" class="form-radio" id="input_3_3" name="zawod" value="Emeryt" />
                      <label id="label_input_3_3" for="input_3_3"> Emeryt </label><br>
                      <input type="radio" aria-describedby="label_3" class="form-radio" id="input_3_4" name="zawod" value="Student" />
                      <label id="label_input_3_4" for="input_3_4"> Student </label><br>
              <li class="form-line" data-type="control" id="id_4">
                <label class="form-line-label" id="label_4" for="input_4"> <strong>Wykształcenie</strong></label>
                <div id="cid_4" class="form-input" data-layout="full">
                  <div class="form-single-column" role="group" aria-labelledby="label_4" data-component="drop-down">
                      <select name="wyksztalcenie">
                        <option value="brak" selected="selected">Brak</option>
                        <option value="podstawowe">Podstawowe</option>
                        <option value="średnie">Średnie</option>
                        <option value="wyższe">Wyższe</option>
                      </select>
              </li>
              <li class="form-line" data-type="control" id="id_5">
                <label class="form-line-label" id="label_5" for="input_5"><strong>Zamieszkanie</strong></label>
                <div id="cid_5" class="form-input" data-layout="full">
                  <div class="form-single-column" role="group" aria-labelledby="label_5" data-component="drop-down">
                      <select name="zamieszkanie">
                        <option value="brak" selected="selected">Brak</option>
                        <option value="wieś">Wieś</option>
                        <option value="miasto_do_50">Miasto do 50 tys.</option>
                        <option value="miasto_50_150">Miasto od 50 do 150 tys.</option>
                        <option value="miasto_150_500">Miasto od 150 do 500 tys.</option>
                        <option value="miasto_500">Miasto powyżej tys.</option>
                      </select>
                  </div>
                </div>
              </li>
              </ul>
        </div>
        <div class="tab" style="display: none;">
          <label class="form-line-label" data-type="control" id="id_6"><strong>Czy korzysta Pan/Pani z wizyt lekarskich?</strong></label>
          <div id="cid_6" class="form-input" data-layout="full">
            <div class="form-single-column" role="group" aria-labelledby="label_6" data-component="radio">
              <input type="radio" aria-describedby="label_6" class="form-radio" id="input_6_0" name="czy_wizyta" value="Tak" />
                      <label id="label_input_6_0" for="input_6_0"> Tak </label>
                      <input type="radio" aria-describedby="label_6" class="form-radio" id="input_6_1" name="czy_wizyta" value="Nie" />
                      <label id="label_input_6_1" for="input_6_1"> Nie </label>
          </div>
          </div>       
        </div>
        <div class="tab" style="display: none;">
          <ul style="list-style-type:none;">
            <li class="" data-type="control" id="id_7">
              <label class="form-line=label" id="label_7" for="input_7"><strong>Jak często w skali od 1 do 5?</strong></label>
              <div id="cid_7" class="form-input" data-layout="full">
                <div class="range-wrap" role="group" aria-labelledby="label_7" data-component="range">
                  <div class="range-value" id="rangeV"></div>
                  <label>prawie wcale</label>
                  <input id="range" type="range" min="1" max="5" value="3" step="1">
                  <label>bardzo często</label>
                </li>
                <li>
                  <label class="form-line=label" id="label_8" for="input_8"><strong>Czy korzysta Pan/Pani z NFZ?</strong></label>
                  <input type="radio" aria-describedby="label_8" class="form-radio" id="input_8_0" name="czy_NFZ" value="Tak" />
                  <label id="label_input_8_0" for="input_8_0"> Tak </label>
                  <input type="radio" aria-describedby="label_8" class="form-radio" id="input_8_1" name="czy_NFZ" value="Nie" />
                  <label id="label_input_8_1" for="input_8_1"> Nie </label>
                </li>
                <li>
                  <label class="form-line=label" id="label_9" for="input_9"><strong>Czy korzysta Pan/Pani z usług lekarza prywatnego?</strong></label>
                  <input type="radio" aria-describedby="label_9" class="form-radio" id="input_9_0" name="czy_prywatny" value="Tak" />
                      <label id="label_input_9_0" for="input_9_0"> Tak </label>
                      <input type="radio" aria-describedby="label_9" class="form-radio" id="input_9_1" name="czy_prywatny" value="Nie" />
                      <label id="label_input__1" for="input_9_1"> Nie </label>
                </li>     
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="tab" style="display: none;">
          <ul style="list-style-type:none;">
            <li>
              <label class="form-line=label" id="label_10" for="input_10"><strong>W jakiej dziedzinie spotkał/a się Pan/Pani z największą innowacyjnością w medycynie?</strong></label><br>
              <input type="checkbox" id="gdzie_innowacja_1" name="gdzie_innowacja_1" value="Dziedzina_leczenia">
              <label for="gdzie_innowacja_1"> Dziedzina leczenia</label><br>
              <input type="checkbox" id="gdzie_innowacje_2" name="gdzie_innowacje_2" value="Infrastruktura_diagnostyczna">
              <label for="gdzie_innowacje_2"> Infrastruktura diagnostyczna</label><br>
              <input type="checkbox" id="gdzie_innowacje_3" name="gdzie_innowacje_3" value="profilaktyka_promocja_tele">
              <label for="gdzie_innowacje_3"> Profilaktyka i promocja zdrowia z wykorzytniem rozwiązań teleinformatycznych</label><br>
            </li>
          </ul>
        </div>
        <div style="overflow:auto;">
          <div style="float:right;">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
          </div>
        </div>
        <div style="text-align:center;margin-top:40px;">
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
        </div>
    </form>

    <script src="javaScript.js"></script>

<script>var currentTab = 0; // Current tab is set to be the first tab (0)
  showTab(currentTab); // Display the current tab
  
  function showTab(n) {
    // This function will display the specified tab of the form ...
    var x = document.getElementsByClassName("tab");
    x[n].style.display = "block";
    // ... and fix the Previous/Next buttons:
    if (n == 0) {
      document.getElementById("prevBtn").style.display = "none";
    } else {
      document.getElementById("prevBtn").style.display = "inline";
    }
    if (n == (x.length - 1)) {
      document.getElementById("nextBtn").innerHTML = "Submit";
    } else {
      document.getElementById("nextBtn").innerHTML = "Next";
    }
    // ... and run a function that displays the correct tab indicator:
    fixtabIndicator(n)
  }
  
  function nextPrev(n) {
    // This function will figure out which tab to display
    var x = document.getElementsByClassName("tab");
    // Exit the function if any field in the current tab is invalid:
    if (n == 1 && !validateForm()) return false;
    // Hide the current tab:
    x[currentTab].style.display = "none";
    // Increase or decrease the current tab by 1:
    currentTab = currentTab + n;
    // if you have reached the end of the form... :
    if (currentTab >= x.length) {
      //...the form gets submitted:
      document.getElementById("regForm").submit();
      return false;
    }
    // Otherwise, display the correct tab:
    showTab(currentTab);
  }
  
  function validateForm() {
    // This function deals with validation of the form fields
    var x, y, i, valid = true;
    x = document.getElementsByClassName("tab");
    y = x[currentTab].getElementsByTagName("input");
    // A loop that checks every input field in the current tab:
    for (i = 0; i < y.length; i++) {
      // If a field is empty...
      if (y[i].value == "") {
        // add an "invalid" class to the field:
        y[i].className += " invalid";
        // and set the current valid status to false:
        valid = false;
      }
    }
    // If the valid status is true, mark the tab as finished and valid:
    if (valid) {
      document.getElementsByClassName("step")[currentTab].className += " finish";
    }
    return valid; // return the valid status
  }
  
  function fixtabIndicator(n) {
    // This function removes the "active" class of all tabs...
    var i, x = document.getElementsByClassName("step");
    for (i = 0; i < x.length; i++) {
      x[i].className = x[i].className.replace(" active", "");
    }
    //... and adds the "active" class to the current step:
    x[n].className += " active";
  }</script>
  
</body>
</html>